*{
		font-family: Ubuntu Mono;
		padding: 0;
		margin: 0;
	}
	body{
		background: #1c1c1c;
	}
	#busybox{
		margin-left: 10rem;
		margin-right: 10rem;
		background: #111111;
		color: #fafafa;
		height: 100%;
		padding: 2rem;
	}
	#navbar{
		background: #222222;
		padding: 20px;
	}
	#footer{

		font-size: 0.8rem;
		color: #fafafa;
		background: #222222;
		padding: 1rem;
		margin-bottom: 0%;
	}
